body {
  width: 100vw;
  height: 100vh;
  margin:0; 
  background-color: black;
  overflow: hidden;
  // display:flex;
}

.wheelContainer {
  height:100vh;
}

#wheel {
  height:80%;
}

.controls {
  position: absolute;
  width: 50vw;
  height: 100vh;
  margin:0; 
  // background-color: black;
  overflow: hidden;
}

button {
  top:50px;
  width: 50px;
  // height:500px;
}