@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;600&display=swap');

body {
  width: 100vw;
  height: 100vh;
  margin:0; 
  background-color: black;
  overflow: hidden;

}

.controls {
  position: absolute;
  justify-content:left;
  width: 30vw;
  height: 100vh;
  margin:0;
  margin-left: 2vw; 
  overflow: hidden;
  padding-top: 7%;
}

.wheelContainer {
  position: absolute;
  justify-content:left;
  width: 30vw;
  margin:0;
  overflow: hidden;
  padding-top: 7%;
}

.link {
  z-index: 5;
  position: absolute;
  height: 20vh;
  width: 30vw;
}

#explore {
  width: 40%;
  margin-left:30%;
  margin-top: 7%;
}

#mbt {
  z-index: 6;
  width: 65px;
  position: absolute;
  top: 20px;
  left:20px;
}

#li {
  z-index: 6;
  width: 40px;
  position: absolute;
  top: 20px;
  left:80px;
}

#gh {
  z-index:6;
  width: 40px;
  position: absolute;
  top: 80px;
  left:20px;
}




