body {
  width: 100vw;
  height: 100vh;
  margin:0; 
  background-color: black;
  overflow: hidden;

}

.controls {
  position: absolute;
  justify-content:left;
  width: 30vw;
  height: 100vh;
  margin:0;
  margin-left: 2vw; 
  overflow: hidden;
  padding-top: 7%;
}

.wheelContainer {
  position: absolute;
  justify-content:left;
  width: 30vw;
  margin:0;
  overflow: hidden;
  padding-top: 7%;
}

.welcome {
  position: absolute;
  right:0px;
  width: 70vw;
  height: 100vh;
  margin:0; 
  overflow: hidden; 
}

.link {
  z-index: 5;
  position: absolute;
  height: 20vh;
  width: 30vw;
}

#explore {
  width: 40%;
  margin-left:30%;
  margin-top: 7%;
}

#li {
  z-index: 6;
  width: 50px;
  position: absolute;
  top: 10%;
  left:3%
}

#gh {
  z-index:6;
  width: 50px;
  position: absolute;
  top: 5%;
  left:8%;
}

.glow {
  box-shadow: 
    0 0 6px 3px #fff,  /* inner white */
    0 0 10px 6px #f0f, /* middle magenta */
    0 0 14px 9px #0ff; /* outer cyan */
}

