.welcome {
  position: absolute;
  right:0px;
  width: 70vw;
  margin:0; 
}

.explore-directions{
  display: flex;
  position: absolute;
  align-items: center;
  left: 200px;
  top: 25px;
  height: 50px;
  width: 480px;
  font-family: 'Titillium Web', sans-serif;
  color: white; 

  p{
    width:430px;
    margin:0;
  }

  button{
    width:30px;
    height:50px;
    margin-right: 20px; 
    border:none; 
    border-radius: 100%;
    background-color: transparent;
    color:white;
    font-size: 25px;
    text-indent: -2px;
  }
}

.far-out{
  display:block;
  position: absolute;
  font-family: 'Titillium Web', sans-serif;
  color:white;
  height: 200px;
  width: 200px;
  overflow: scroll;
  bottom: 30px;
  right: 30px;

  a{
    color:blue;
  }
}

.hide{
  display:none;
}

.highlight{
  animation: highlight 2s linear 0s infinite;
  -webkit-animation: highlight 2s linear 0s infinite;
}

@keyframes highlight {
    0% {
        stroke: white; 
        stroke-width: 0px;
        filter: drop-shadow(0px 0px 0px #fff);
        -webkit-filter: drop-shadow(0px 0px 0px #fff);
    }

    25%{
      stroke: white; 
      stroke-width: 2.5px;
      filter: drop-shadow(0px 0px 10px #fff);
      -webkit-filter: drop-shadow(0px 0px 10px #fff);
    }

    50% {
        stroke: white; 
        stroke-width: 5px;
        filter: drop-shadow(0px 0px 20px #fff);
        -webkit-filter: drop-shadow(0px 0px 20px #fff);
    }

    100% {
        stroke: white; 
        stroke-width: 0px;
        filter: drop-shadow(0px 0px 0px #fff);
        -webkit-filter: drop-shadow(0px 0px 0px #fff);
    }
    
}