@media (max-width: 400px) {
  .controls{
    width:100%;
    margin-top: 100%;
  }
  .welcome {
    display:flex;
    justify-content: center;
    width: 100%;
    height:50%;
    margin:0; 
  }

  .links{
    top: 70%;
  }

  #welcomeText{
    width:90%;
  }

  #li {
    z-index:5;
    margin:0;
    width: 30px;
    position: absolute;
    left: 15%;
    top:75%;
  }

  #gh {
    z-index:5;
    margin:0;
    width: 30px;
    position: absolute;
    left: 5%;
    top:80%;
  }

  #explore {
  width: 18%;
  position:absolute;
  top:0px;
  left: 48%;
  }
}